<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
    <title>Zenmate</title>
    {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
        {#<link rel="stylesheet" href="style/reset.css">#}
        {#<link rel="stylesheet" href="style/style.css" type="text/css">#}
        {#<link rel="stylesheet" href="style/owl.carousel.css">#}
        <link href="{{ asset('style/reset.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('style/style.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('style/owl.carousel.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />

    {% endblock %}
</head>
<body class="bodyWrapper">

<section id="wrapper">
    <header id="header" class="headerWrapper">
        <div class="menu-top cf">
            <div class="menu-top-block resize cf">
                <div class="logo">
                    <a href={{ path("AppBundle_homepage") }}><img src="../img/logo.png" alt="logo"></a>
                </div>
                <ul>
                    <li><a href="">Проекти</a></li>
                    <li><a href="">Послуги</a></li>
                    <li><a href={{ path("AppBundle_blog") }}>Блог</a></li>
                    <li><a href={{ path("AppBundle_contact") }}>Контакти</a></li>
                </ul>
            </div>
        </div>
        <div class="headerBlock resize">
            <div class="slogon">
                <p>Якість, швидкість, надійність</p>
            </div>
        </div>
    </header>

    <section class="main-col">
        {% block body %}{% endblock %}
    </section>

    <div class="footerWrapper cf">
        <div class="footerWrapper resize cf">
            <div class="left">
                <img src="../img/logo_2.png" alt="">
                <ul>
                    <li>
                        <a href="#">Проекти</a>
                    </li>
                    <li>
                        <a href="#">Послуги</a>
                    </li>
                    <li>
                        <a href="#">Блог</a>
                    </li>
                    <li>
                        <a href="#">Контакти</a>
                    </li>
                </ul>
            </div>
            <div id="tags">
                <a href="http://vk.com/"  style="font-size:23px;">HTML</a>
                <a href="#" style="font-size:12px;">CSS</a>
                <a href="#" target="_blank" style="font-size:16px;">Java Script</a>
                <a href="#" style="font-size:15px;">PHP</a>
                <a href="#" style="font-size:21px;">Laravel</a>
                <a href="#" style="font-size:20px;">Angular</a>
                <a href="#" style="font-size:18px;">Ajax</a>
                <a href="#" style="font-size:17px;">Python</a>
                <a href="#" style="font-size:19px;">Ruby</a>
                <a href="#" style="font-size:21px;">Symfony</a>
                <a href="#" style="font-size:23px;">Yii2</a>
            </div>
            <div class="right">
                <h3>Zenmate</h3>
                <p>zenmate@gmail.com</p>
                <p class="tel">1-888 564-5555</p>
                <p class="callback">
                    або зв’яжіться з нами в соц. мережах
                </p>
                <a href="#"><img src="../img/facebook.png" alt=""></a>
                <a href="#"><img src="../img/twitter.png" alt=""></a>
                <a href="#"><img src="../img/google.png" alt=""></a>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src={{ asset('js/jquery.min.js') }}></script>
<script type="text/javascript" src={{ asset('js/js.js') }}></script>
<script type="text/javascript" src={{ asset('js/owl.carousel.js') }}></script>
<script type="text/javascript" src={{ asset('js/swfobject.js') }}></script>
{% block javascripts %}{% endblock %}
</body>
</html>